.button {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue",sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  width: 100px;
  padding: 2px;
  margin: 15px 0 0 0;
}

.button:hover {
  background-color: #F1F1F1;
}

section {
  opacity: .6;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  padding: 10px;
}